/* ESTILO HEADER */
.cabezera {
    /* background-color: red; */
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;


/* ESTILO nav y div */

    nav {
        /* border: 1px solid rgb(22, 189, 22); */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex: 1;
        margin-left: 0%;
        margin-right: 9%;
        order:2;
        

        div {
            /* border: 1px solid white; */
            /* background-color:black; */
            margin: 0;
            padding: 0;
            height: 20px;
            width: 150px;
            text-align: center;
            border-right: 1px solid #FDA10D;
        }
            
            a:hover {                           /* Estilo al pasar mouse por encima*/
                    background-color: #fff;
                    color: rgb(8, 8, 8);
                    }
                }
                }


/* Estilos de Links*/

a:link,
a:visited,
a:active {
    text-decoration: none;
    margin: 0;
    color: white;
    flex: 1;
}

/* ESTILO LOGO */

.cabezera__logo {
    /* border: 1px solid white; */
    width: auto;
    height: auto;
    flex: 0.2;
    background-color: orange;
    margin-left: 9%;
    margin-top:0;
    margin-bottom:0;
    padding-top: 17px;
    order:1;


        a {}
        
            img {
    width: 100%;
    height: 80%;
    padding-top: 10%;
    padding-left: 10px;
    object-fit: cover;
}
}