footer {
    border-top: 1px solid #FDA10D;
    position: fixed;
    width: 100%;
    height: 4%;
    bottom: 0;
    right: 0%;
    left: 0%;
    text-align: center;
    padding-top: 10px;
    color: #FDA10D;
    background-color: #292929;
    z-index: 10000;
}