/* MIXING DE MEDIDAS Y FLIP*/

@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}

@mixin flip($ancho, $alto, $posicion, $top, $left, $backface-visibility, $-webkit-backface-visibility, ) {
    width: $ancho;
    height: $alto;
    position: $posicion;
    top: $top;
    left: $left;
    backface-visibility: $backface-visibility;
    -webkit-backface-visibility: $-webkit-backface-visibility;
}

/* CONTENIDO PRINCIPAL*/

.conCentral {
    @include sizes(80%, 65%);
    margin-top: 2%;
    margin-left: 10%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    .conCentral__item__tecno {
        @include sizes(24.5%, 100%);
        order: 3;
        -webkit-perspective: 1500;
        perspective: 1500;

        .conCentral__item__tecno__tarjeta {
            @include sizes(100%, 100%);
            position: relative;
            transform-style: preserve-3d;
            transition: 0.4s ease;

            @each $lado in conCentral__item__tecno__tarjeta--adelante,
            conCentral__item__tecno__tarjeta--atras {
                .#{$lado} {
                    @include flip(100%, 100%, absolute, 0, 0, hidden, hidden)
                }
            }

            .conCentral__item__tecno__tarjeta--atras {
                transform: rotateY(180deg);
                padding: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: #fff;
                background-color: orange;
            }
        }

    }

    .conCentral__item__gaming {
        @include sizes(24.5%, 100%);
        order: 2;
        -webkit-perspective: 1500;
        perspective: 1500;

        .conCentral__item__gaming__tarjeta {
            @include sizes(100%, 100%);
            position: relative;
            transform-style: preserve-3d;
            transition: 0.4s ease;

            @each $lado in conCentral__item__gaming__tarjeta--adelante,
            conCentral__item__gaming__tarjeta--atras {
                .#{$lado} {
                    @include flip(100%, 100%, absolute, 0, 0, hidden, hidden)
                }
            }

            .conCentral__item__gaming__tarjeta--atras {
                transform: rotateY(180deg);
                padding: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: #fff;
                background-color: orange;
            }
        }

    }

    .conCentral__item__com {
        @include sizes(24.5%, 100%);
        order: 1;
        -webkit-perspective: 1500;
        perspective: 1500;

        .conCentral__item__com__tarjeta {
            @include sizes(100%, 100%);
            position: relative;
            transform-style: preserve-3d;
            transition: 0.4s ease;

            @each $lado in conCentral__item__com__tarjeta--adelante,
            conCentral__item__com__tarjeta--atras {
                .#{$lado} {
                    @include flip(100%, 100%, absolute, 0, 0, hidden, hidden)
                }
            }

            .conCentral__item__com__tarjeta--atras {
                transform: rotateY(180deg);
                padding: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: #fff;
                background-color: orange;
            }
        }

    }

    .conCentral__item__cocina {
        @include sizes(24.5%, 100%);
        order: 4;
        -webkit-perspective: 1500;
        perspective: 1500;

        .conCentral__item__cocina__tarjeta {
            @include sizes(100%, 100%);
            position: relative;
            transform-style: preserve-3d;
            transition: 0.4s ease;

            @each $lado in conCentral__item__cocina__tarjeta--adelante,
            conCentral__item__cocina__tarjeta--atras {
                .#{$lado} {
                    @include flip(100%, 100%, absolute, 0, 0, hidden, hidden)
                }
            }

            .conCentral__item__cocina__tarjeta--atras {
                transform: rotateY(180deg);
                padding: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: #fff;
                background-color: orange;
            }
        }

    }
}

/* ROTACIÓN DE CONTENIDO*/

.conCentral__item__com:hover .conCentral__item__com__tarjeta {
    transform: rotateY(180deg);

}

.conCentral__item__cocina:hover .conCentral__item__cocina__tarjeta {
    transform: rotateY(180deg);

}

.conCentral__item__tecno:hover .conCentral__item__tecno__tarjeta {
    transform: rotateY(180deg);

}

.conCentral__item__gaming:hover .conCentral__item__gaming__tarjeta {
    transform: rotateY(180deg);

}

p {
    color: #292929;
}

/* RESPONSIVE AÚN POR DEFINIR */

@media screen and (min-width:768px) and (max-width:1639px) {

    body {
        background: #292929;
    }

    .conCentral {
        width: 80vw;
        height: 100vh;
        margin-top: 2%;
        margin-left: 10%;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: normal;
        align-items: center;

    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

}


@media screen and (max-width:768px) {

    .conCentral {
        width: 80vw;
        height: 100vh;
        margin-top: 2%;
        margin-left: 10%;
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: normal;
        align-items: center;
    }


    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    p {

        font-size: xx-small;
    }

}






@media screen and (max-width: 480px) {
    .conCentral {
        width: 80vw;
        height: 100vh;
        margin-top: 2%;
        margin-left: 10%;
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: normal;
        align-items: center;
    }

    .conCentral__item__tecno__tarjeta {
        padding: 5%;
        margin: 5%;

        .conCentral__item__tecno__tarjeta--atras {
            transform: rotateY(180deg);
            padding: 5%;
            margin: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #fff;
            background-color: orange;
        }
    }

    .conCentral__item__gaming__tarjeta {
        padding: 5%;
        margin: 5%;

        .conCentral__item__gaming__tarjeta--atras {
            transform: rotateY(180deg);
            padding: 5%;
            margin: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #fff;
            background-color: orange;
        }
    }

    .conCentral__item__cocina__tarjeta {
        padding: 5%;
        margin: 5%;

        .conCentral__item__cocina__tarjeta--atras {
            transform: rotateY(180deg);
            padding: 5%;
            margin: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #fff;
            background-color: orange;
        }
    }

    .conCentral__item__com__tarjeta {
        padding: 5%;
        margin: 5%;

        .conCentral__item__com__tarjeta--atras {
            transform: rotateY(180deg);
            padding: 5%;
            margin: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #fff;
            background-color: orange;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    p {

        font-size: xx-small;
    }

}