$ancho: 100px;
$alto: 100px;

body {
    display: flex;
    flex-direction: column;
}

/* Estilo para MAIN QUIEN SOY*/

.mainQuien {
    width: 100vw;
    height: 225vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    margin: 0;

    .mainQuien__contenedorCentral {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-left: 9%;
        margin-right: 9%;
        margin-top: 0;

    }

    /* Fotografía de perfil*/

    #fotografia {
        height: 68%;
        width: 50%;
        margin-top: -7%;
        padding: 0;
        flex: 1 1 0;
        margin-right: 2%;
        order: 1;
    }


    .mainQuien__contenedorCentral #fotografia img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        /*¨ANIMACIÓN IMAGEN PERFIL*/
        animation-duration: 3s;
        animation-name: slidein;
    }
}

/* BIOGRAFÍA */

.mainQuien__saludo {
    height: 68%;
    /* INICIO Estilo como item de .contenedorCentral */
    width: 50%;
    background-color: orange;
    margin-top: -7%;
    margin-right: 0;
    /* FIN Estilo como item de .contenedorCentral */
    display: flex;
    /* INICIO de Estilo como contenedor */
    flex: 3;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    color: #292929;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    line-height: 100%;
    /* FIN de Estilo como contenedor */
    order: 2;

    /* ESTILOS PARA TEXTOS BIOGRAFÍA*/
    h1 {
        width: 20%;
        height: 10%;
        font-size: 80px;
        font-weight: bold;
        margin-top: 50px;
        flex: 1 1 100%;

        /*¨ANIMACIÓN SALUDO h1*/
        animation-duration: 3s;
        animation-name: slidein;

        @keyframes slidein {
            from {
                margin-left: 100%;
                width: 300%;
            }

            to {
                margin-left: 0%;
                width: 100%;
            }
        }

        @keyframes slidein {
            from {
                margin-left: 100%;
                width: 300%;
            }

            to {
                margin-left: 0%;
                width: 100%;
            }
        }
    }


    .mainQuien__Textos--texto {
        width: 100%;
        height: 62%;
        margin-top: -20px;
        flex: 0 0 100%;
        word-spacing: 0;

    }

    .mainQuien__Redes--iconos {
        width: 100%;
        height: 10%;
        display: flex;
        align-content: space-between;
        justify-content: center;
        margin-top: 15px;
        padding-top: 0px;
        padding-right: 10%;
        flex: 1 1 100%;

        span {
            width: 100%;
            height: 100%;
            margin-right: 5%;
            margin-left: 10%;

            a {
                display: flex;
                justify-content: center;
                outline: none;


                img {
                    width: $ancho/4;
                    height: $alto/4;
                }
            }

            a:link {
                text-decoration: none;
                outline: none;
                outline-style: none;
                outline-color: orange;
            }

            a:visited {
                text-decoration: none;
                outline: none;
                outline-style: none;
                outline-color: orange;
            }

            a:focus {
                text-decoration: none;
                outline: none;
                outline-style: none;
                outline-color: orange;
            }

            a:hover {
                text-decoration: none;
                outline: none;
                outline-style: none;
                outline-color: orange;
            }
        }
    }

}

/*¨ANIMACIÓN PARRAFO BIOGRAFÍA*/

.tipeo {
    width: 100%;
    height: 100%;


    p {
        width: 100%;
        height: 100%;
        font-family: 'IBM Plex Mono', monospace, arial, helvetica;
        font-size: 15px;
        white-space: normal;
        overflow: hidden;
        word-spacing: 0;
        margin-bottom: -12px;
        margin-top: 0;
        padding-top: 0;


    }

}

.tipeo p:nth-child(1) {
    width: 100%;
    -webkit-animation: type 10s steps(40, end);
    animation: type 1s steps(40, end);
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    animation-delay: 3s;
}

.tipeo p:nth-child(2) {
    width: 100%;
    -webkit-animation: type2 10s steps(40, end);
    animation: type2 1s steps(40, end);
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    animation-delay: 4s;
}

.tipeo p:nth-child(3) {
    width: 100%;
    -webkit-animation: type3 10s steps(40, end);
    animation: type3 1s steps(40, end);
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    animation-delay: 5s;
}

.tipeo p:nth-child(4) {
    width: 100%;
    -webkit-animation: type4 10s steps(40, end);
    animation: type4 1s steps(40, end);
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    animation-delay: 6s;
}

.tipeo p:nth-child(5) {
    width: 100%;
    -webkit-animation: type5 10s steps(40, end);
    animation: type5 1s steps(40, end);
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    animation-delay: 7s;
}



@keyframes type {
    0% {
        width: 0;
        height: 0;
    }

    99.9% {
        border-right: .15em solid rgb(8, 8, 8);
    }

    100% {
        border: none;
    }
}

@-webkit-keyframes type {
    0% {
        width: 0;
        height: 0;
    }

    99.9% {}

    100% {
        border: none;
    }
}

@keyframes type2 {
    0% {
        width: 0;
        height: 0;
    }

    1% {
        opacity: 1;
        border-right: .15em solid rgb(2, 2, 2);
    }

    99.9% {
        border-right: .15em solid rgb(2, 2, 2);
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type2 {
    0% {
        width: 0;
        height: 0;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: .15em solid rgb(3, 3, 3);
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes type3 {
    0% {
        width: 0;
        height: 0;
    }

    1% {
        opacity: 1;
        border-right: .15em solid rgb(3, 3, 3);
    }

    99.9% {
        border-right: .15em solid rgb(2, 2, 2);
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type3 {
    0% {
        width: 0;
        height: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes type4 {
    0% {
        width: 0;
        height: 0;
    }

    1% {
        opacity: 1;
        border-right: .15em solid rgb(3, 3, 3);
    }

    99.9% {
        border-right: .15em solid rgb(2, 2, 2);
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type4 {
    0% {
        width: 0;
        height: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes type5 {
    0% {
        width: 0;
        height: 0;
    }

    1% {
        opacity: 1;
        border-right: .15em solid rgb(3, 3, 3);
    }

    99.9% {
        border-right: .15em solid rgb(2, 2, 2);
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type5 {
    0% {
        width: 0;
        height: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

/* RESPONSIVE AÚN POR DEFINIR */

@media screen and (min-width:768px) and (max-width:1639px) {

    .mainQuien__saludo {

        h1 {
            margin-top: 4%;
        }

        .mainQuien__Textos--texto {
            height: 80%;
            margin-top: -8%;
            padding-top: 0;

        }

        .mainQuien__Redes--iconos {
            height: 10%;
            margin-top: -12px;
        }
    }

}




@media screen and (max-width:879px) {
    .mainQuien {


        .mainQuien__contenedorCentral {
            flex-direction: column;
            flex-wrap: nowrap;
            width: 100%;
            height: 105%;
            margin-left: 9%;
            margin-right: 9%;
            margin-top: 0;

        }

        /* Fotografía de perfil*/

        #fotografia {
            height: 50%;
            width: 100%;
            margin: 0%;
            padding: 0;
        }
    }

    .mainQuien__saludo {
        height: 50%;
        width: 100%;
        margin: 0;
        padding: 0;


        h1 {
            margin-top: 7%;
        }

        .mainQuien__Textos--texto {
            height: 80%;
            margin-top: -8%;
            padding-top: 0;
            padding-bottom: 25%;

        }

        .mainQuien__Redes--iconos {
            height: 10%;
            margin-top: -45%;
        }
    }
}




@media screen and (max-width: 480px) {
    .mainQuien {

        .mainQuien__contenedorCentral {
            flex-direction: column;
            flex-wrap: nowrap;
            width: 100%;
            height: 105%;
            margin-left: 9%;
            margin-right: 9%;
            margin-top: 0;

        }

        /* Fotografía de perfil*/

        #fotografia {
            height: 50%;
            width: 100%;
            margin: 0%;
            padding: 0;
        }
    }

    .mainQuien__saludo {
        height: 50%;
        width: 100%;
        margin: 0;
        padding: 0;


        h1 {
            border: 1px solid red;
            margin-top: 10%;
        }

        .mainQuien__Textos--texto {
            height: 80%;
            margin-top: -15%;
            padding-top: 0;
            padding-bottom: 25%;

        }

        .mainQuien__Redes--iconos {
            height: 10%;
            margin-top: -40%;
        }
    }
}


