/* CONTENIDO PRINCIPAL*/

.principal {
    width: 80%;
    height: 100%;
    margin-left: 9%;
    margin-top: 3%;
    // background-color: #fff;
    display: flex;
    justify-content: space-around;

    .principal__imagen {
        width: 25%;
        height: 100%;
        margin-right: 0.5%;
        // flex: 1 0 auto;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .principal__descripcion {
        width: 80%;
        height: 100%;
        background-color: orange;
        // flex: 2 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            margin-left: 1%;
        }
        h2 {
            margin-top: 75%;
        }
    }
}

/* RESPONSIVE - revisar wrap*/

@media screen and (min-width:768px ) and (max-width:1920px) {

    body{
        background: #292929;
    }
}


@media screen and (max-width:768px){
    .principal{
        
        border: 5px solid rgb(255, 51, 0);
        background: #292929;
        width: 100vw;
        height: auto;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}



@media screen and (max-width: 480px){
    
    .principal {
        
        border: 5px solid rgb(0, 26, 255);
        background: #292929;
        width: 100vw;
        height: auto;
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    
    }
}