/* RESPONSIVE 768-1920px*/
/* RESPONSIVE AÚN POR DEFINIR */
@media screen and (min-width: 768px) and (max-width: 1920px) {
    body {
    background: #292929; } }
  
  @media screen and (max-width: 768px) {
    body {
    background-color: red; }
    .contenedorBasePadre {
    border: 5px solid lime;
    background: #292929;
    width: 100vw;
    height: auto;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0.3%;
    grid-row-gap: 0.3%;
    padding-bottom: 2.5%;
    margin-left: 5%;
    margin-top: 3%; } }
  
  @media screen and (max-width: 480px) {
    body {
    background-color: blue; }
    .contenedorBasePadre {
    border: 5px solid lime;
    background: #292929;
    width: 100vw;
    height: auto;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0.3%;
    grid-row-gap: 0.3%;
    padding-bottom: 2.5%;
    margin-left: 5%;
    margin-top: 3%; } }