@import "cabezera";
@import "_footer";
@import "layoutQuienSoy";
@import "layoutHabilidades";
@import "layoutPasiones";
@import "layoutprensa";
@import "layoutlibro";
@import "layoutContacto";


body {
    width: 100%;
    height: 100%;
    background: #292929;
    font-family: 'IBM Plex Mono', monospace, arial, helvetica;
    font-size: 15px;
    color: #080202;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}